body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    justify-content: center;
    padding: 0px;
    width: 500px;
    height: 500px;
    max-height: 500px;
    overflow: hidden;
    align-items: flex-start;
}

.row {
    display: flex;
    width: 500px;
    height: 500px;
}

.cell {
    border: 1px solid black;
    flex: 1 1 500px;
}

.colored-cell {
    background-color: black;
}